    <h1>Batch Ingest Started But Had Errors</h1>
    <p>
      The batch submitted by <%= @batch.submitter_email %> was started but failed. Errors are listed below.
    </p>
    <p>
      To view its status, just follow this link: <%=  batch_url(@batch, host:  Rails.application.config.action_mailer.default_url_options[:host]) %>.
    </p>
    <% if @batch.error.present? %>
    <p>
      Batch Error:</br>
      <% @batch.error %>
    </p>
    <% end %>
