.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/

Gemfile.lock

.internal_test_app
.byebug_history

# This is for @afred to keep scripts and docs for sprint demos.
# Please keep this here until we cut a 1.x release. Thanks!
demos/**/*
