<tr id="error_<%= presenter.id_within_batch %>" class="collapse <%= presenter.status_css_class %>">
  <td colspan="3" style="padding-left: 2em;">
    <%= presenter.error ? presenter.error.html_safe : 'no error' %>
  </td>
</tr>