<tr id="error_<%= index %>" class="collapse <%= status_context(batch_item.status) %>">
  <td colspan="4" style="padding-left: 2em;">
    <%= error_collector(batch_item.error).html_safe %>
  </td>
</tr>