<h1><span class="fa fa-copy"></span>Batches</h1>

<a href="/batches/new" title="Upload New Batch">Upload New Batch</a>

<% if @presenters.count > 0 %>
  <div class='table-responsive'>
    <table class='table table-condensed'>
      <thead>
        <th scope='col'>ID</th>
        <th scope='col'>Status</th>
        <th scope='col'>Error Message</th>
        <th scope='col'>Submitter email address</th>
        <th scope='col'>Filename</th>
        <th scope='col'>Admin Set</th>
        <th scope='col'>Collection</th>
        <th scope='col'>Created</th>
        <th scope='col'>Updated</th>
      </thead>
      <tbody>
        <% @presenters.each do |presenter| %>
          <%= render 'batch', presenter: presenter %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <br />
  <h4>Batches?!... Batches?!... We don't need no stinking Batches!</h4><br />
<% end %>
