<h1><span class="fa fa-copy"></span>Batches</h1>

<% if @batches %>
  <div class='table-responsive'>
    <table class='table table-condensed'>
      <thead>
        <th scope='col'>ID</th>
        <th scope='col'>Status</th>
        <th scope='col'>Error Message</th>
        <th scope='col'>Submitter email address</th>
        <th scope='col'>Filename</th>
        <th scope='col'>Admin Set</th>
        <th scope='col'>Collection</th>
        <th scope='col'>Created</th>
        <th scope='col'>Updated</th>
      </thead>
      <tbody>
        <%= render @batches %>
      </tbody>
    </table>
  </div>
<% else %>
  <br />
  <h4>Batches?!... Batches?!... We don't need no stinking Batches!</h4><br />
<% end %>
